.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItemsActive {
    color: lightseagreen;
}

.dialog {

}

.messages {
    padding: 10px;
}

.newMessage {
    padding-top: 10px;
}

.textArea {
    padding: 5px;
}